@model IEnumerable<WMBA_7_2_.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>

<h4>WMBA 2024 Season Schedule</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Add a Game</a>
    @* <a asp-action="Create">Add a Game</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameLocation)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.ID">Reschedule</a> *@
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Reschedule</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ID">Scoresheet</a>
                    @* <a asp-action="Details" asp-route-id="@item.ID">Scoresheet</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
