@model WMBA_7_2_.ViewModels.CoachViewModel

@{
	ViewData["Title"] = "Coach List";
}

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>

<h3>@ViewData["Title"]</h3>
<hr />
<div>
	<button class="btn btn-primary mb-2" id="btnAdd">Add Player</button>
</div>
<div class="container">
	<table class="table table-striped table-bordered table-responsive table-hover">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.CoachName)</th>
				<th>@Html.DisplayNameFor(model => model.CoachNumber)</th>
				<th>@Html.DisplayNameFor(model => model.CoachPosition)</th>
				<th>Team</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="tblBody">
		</tbody>
	</table>
</div>

<div class="modal" id="CoachModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modalTitle"></h3>
			</div>
			<div class="modal-body">
				<input type="hidden" asp-for="ID" value="0" />
				<div class="mb-2">
					<label asp-for=CoachMemberID></label>
					<input type="text" asp-for="CoachMemberID" class="form-control"
						   placeholder="Ex.  1234ASD" />
				</div>
				<div class="mb-2">
					<label asp-for=CoachName></label>
					<input type="text" asp-for="CoachName" class="form-control"
						   placeholder="Ex. John Doe" />
				</div>
				<div class="mb-2">
					<label asp-for=CoachNumber></label>
					<input type="text" asp-for="CoachNumber" class="form-control"
						   placeholder="Ex. 99" />
				</div>
				<div class="mb-2">
					<label asp-for=CoachPosition></label>
					<input type="text" asp-for="CoachPosition" class="form-control"
						   placeholder="Ex. Head Coach" />
				</div>
				<div class="mb-2">
					<label asp-for="TeamCoach" class="form-label">Team</label>
					<select asp-for="SelectedTeamIds" id="TeamCoach" class="form-select" asp-items="@ViewBag.TeamCoaches" multiple="multiple" name="SelectedTeamIds"></select>
					<span asp-validation-for="TeamCoach" class="text-danger"></span>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="Save" type="submit"
						onclick="Insert();">
					Save
				</button>
				<button class="btn btn-success" style="display:none" id="Update" type="submit"
						onclick="Update();">
					Update
				</button>
				<button class="btn btn-danger" data-dismiss="modal"
						onclick="HideModal();">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/coachmodal.js"></script>