@model IEnumerable<WMBA_7_2_.Models.PlayerStats>

@{
    ViewData["Title"] = "Player Stats List";
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<h1>Player Stats List</h1>
<hr />
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
<table class="table table-striped table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PA)
            </th>
            <th>
                <input type="submit" name="actionButton" value="Runs" class="btn btn-link" />
               @*  @Html.DisplayNameFor(model => model.Runs) *@
            </th>
            <th>
                <input type="submit" name="actionButton" value="Hits" class="btn btn-link" />
                @* @Html.DisplayNameFor(model => model.Hits) *@
            </th>
            <th>
               <input type="submit" value="Singles" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.B1) *@
            </th>
            <th>
                <input type="submit" value="Doubles" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.B2) *@
            </th>
            <th>
                <input type="submit" value="Triples" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.B3) *@
            </th>
            <th>
                <input type="submit" name="actionButton" value="Home Runs" class="btn btn-link" />
                @* @Html.DisplayNameFor(model => model.HR) *@
            </th>
            <th>
                <input type="submit" name="actionButton" value="RBI" class="btn btn-link" />
                @* @Html.DisplayNameFor(model => model.RBI) *@
            </th>
            <th>
               <input type="submit" value="Walks" class="btn btn-toolbar" />
               @*  @Html.DisplayNameFor(model => model.BB) *@
            </th>
            <th>
                <input type="submit" value="Strikeouts" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.K) *@
            </th>
            <th>
                <input type="submit" value="Stolen Bases" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.SB) *@
            </th>
            <th>
                <input type="submit" value="Sacrifice" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.SAC) *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.FO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
                <input type="submit" value="Player" class="btn btn-toolbar" />
                @* @Html.DisplayNameFor(model => model.Player) *@
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.K)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAC)
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.GO)
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.PO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerFullName)
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PagingNavBar" />
</form>